@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.container{
    width: 100%;
}

.container .page1{
    width: 100%;
    height: 100vh;
    background: url(../Page1.png) no-repeat;
    background-size: cover;
}

.page1 header nav{
    width: 100%;
    height: 50px;
    border: 1px solid aqua;
    background-color:deepskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page1 header nav img{
    width: 50px;
    height: 50px;
}

.page1 header nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 25px;
}

.page1 header nav ul li a{
    text-decoration: none;
}

.page1 .content{
    display: block;
    margin-left: 575px;
    margin-top: 250px;
}

.page1 .content a{
    text-decoration: none;
    border-radius: 20px red;
    background-color: white;
    border-radius: 30px;
    font-size: 25px;
}

.page1 .content a:hover{
    color: white;
    background-color: black;
    border-radius: 200px;
}

.container .page2{
    width: 100%;
    height: 100vh;
    background-color: chocolate;
    background: blur(50px);
}

.container .page2 .box{
    width: 45%;
    height: 80%;
    border: 1px solid red;
    background: url(../bg.jpg) no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    top: 60px;
    left: 40px;
}

.page2 .box h2{
    margin-top: 450px;
    margin-left: 20px;
}

.page2 .box h3{
    margin-left: 20px;
}

.page2 h5{
    margin-top: -450px;
    margin-left: 800px;
}

.page2 h1{
    margin-left: 800px;
}
.page2 pre{
    margin-left: 800px;
}

.container .page3{
    width: 100%;
    height: 100vh;
    background-color: khaki;
    background: blur(50px);
}

.page3 .content{
    padding-top: 50px;
    padding-left: 600px;
}

.page3 .box{
    width: 200px;
    height: 420px;
    border: 1px solid black;
    float: left;
    margin-left: 110px;
    margin-top: 40px;
    border-radius: 20px;
}

.page3 .box1{
    background: url(../pexels-sidesimagery-3351927.jpg) no-repeat;
    background-size: cover;
}

.page3 .box2{
    background: url(../pexels-cottonbro-3298687.jpg) no-repeat;
    background-size: cover;
}

.page3 .box3{
    background: url(../i1.jpg) no-repeat;
    background-size: cover;
}

.page3 .box4{
    background: url(../i3\ \(1\).jpg);
    background-size: cover;
}

.page3 .box h3{
    margin-top: 375px;
} 